.questionForm {
  > h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  > input {
    margin-top: 10px;
  }

  .titleBlock {
    > input {
      margin: 5px 0 10px 0;
    }
  }

  .timeLimitBlock {
    > input {
      margin: 5px 0;
    }
  }

  .questionsList {
    max-height: 200px;
    overflow-y: auto;
    margin: 5px 0;
    padding: 10px;
    background-color: #1e2226;
    border-radius: 8px;  

    @media (min-width: 767px) {
      max-height: 300px;
    }

    .answersList {
      margin: 5px 0;
    }
  }

  .additionalSettings {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .totalScore {
      > span {
        color: var(--gray-color);
      }
    }

    .datePicker {
      display: flex;
      align-items: center;
      
      .startDate {
        margin-right: 5px;

        @media (max-width: 400px) {
          display: none;
        }
      }
    }
  }
}
