.button {
  width: 100%;
  background-color: var(--light-color);
  padding: 8px 17px;
  border-radius: 5px;
  outline: none;
  font-weight: 300;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: #4d6881;
  }

  &:disabled {
    filter: grayscale(0.7);
    cursor: not-allowed;
  }
}