%flex-center-between {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.coursePage {
  .info {
    @extend %flex-center-between;

    .title {
      width: 90%;
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--light-color);
      word-wrap: break-word;

      @media (min-width: 425px){
        font-size: 1.5rem;
      }
    }

    .id {
      width: 100%;
      max-width: 100px;
      margin-top: 4px;
      text-align: end;
      font-weight: 400;
      color: #ffffff45;
    }
  }

  .description {
    margin: 10px 0;
    color: var(--gray-color);
    word-wrap: break-word;
  }

  .toolsBlock {
    @extend %flex-center-between;

    @media (max-width: 425px) {
      display: block;
    }

    .author {
      padding-top: 8px;
    }

    .tools {
      @extend %flex-center-between;

      @media (max-width: 425px) {
        margin-top: 15px;
      }

      > button {
        width: 100px;

        @media (min-width: 425px) {        
          &:last-child {
            margin-left: 10px;
          }
        }
      }
    }
  }

  > h3 {
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 30px;
    color: var(--gray-color);

    @media (min-width: 425px) {
      font-size: 1.3rem;
    }
  }


  .testList {
    margin-top: 15px;
  }
}
