:root {
  background-color: #181b1f;
  color: #eeeeee;

  --light-color: #6888a7;
  --gray-color: #bababa;
  --bg-color: #22262b;
  --accent-color: #2d3136;
  --red-color: rgb(179, 64, 64);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  // outline: 1px solid red;

  button {
    color: #eeeeee;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  input {
    color: #eeeeee;
  }

  ul {
    list-style: none;
  }
}
