%circle {
  width: 40px;
  height: 40px;
}

%icon {
  font-size: 1.5rem;
  color: var(--light-color);
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  max-width: 100%;
  margin-bottom: 20px;
  height: 60px;
  background-color: var(--bg-color);

  // * modal
  h2 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    color: var(--gray-color);
  }
  //modal *

  @media (max-width: 425px) {
    padding: 0 10px;
  }

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    > img {
      @extend %circle;
      margin-right: 20px;
    }

    > h1 {
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--light-color);

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .search {
    position: absolute;
    display: flex;
    align-items: center;
    height: 40px;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 992px) {
      width: 350px;
    }

    @media (max-width: 520px) {
      width: 250px;
    }

    @media (max-width: 375px) {
      width: 200px;
    }

    > input {
      width: 100%;
      height: 100%;
      background-color: var(--accent-color);
      border: 1px solid transparent;
      border-radius: 50px;
      padding: 0 45px 0 45px;
      color: #eee;
      outline: none;

      &:focus {
        border: 1px solid var(--light-color);
      }
    }

    .searchIcon {
      position: absolute;
      @extend %icon;
      left: 15px;
    }

    > abbr {
      position: absolute;
      right: 11px;
      padding: 4px;
      cursor: pointer;
      
      .createCourse {
        margin-top: 4px;
        @extend %icon;
        transition: all 0.1s ease-in-out;
      }

      &:hover {
        .createCourse {
          color: var(--gray-color);
        }
      }
    }
  }

  .personal {
    display: flex;
    align-items: center;

    > button {
      height: 30px;
      margin-right: 20px;
      font-size: 1rem;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .profile {
      @extend %circle;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid var(--light-color);
      background-color: var(--accent-color);
      cursor: pointer;

      .profileIcon {
        width: 25px;
        height: 25px;
        color: var(--light-color);
      }
    }

    .dropdown {
      z-index: 1;
      position: absolute;
      right: 10px;
      top: 70px;
      width: 130px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: var(--bg-color);
      border-radius: 10px;
      transition: all 0.1s ease-in-out;

      > a {
        width: 100%;
        padding: 10px 0;
        color: var(--gray-color);
        border-radius: 10px;
        text-decoration: none;
        transition: all 0.1s ease-in-out;
        user-select: none;

        &:hover {
          color: #eee;
          background-color: var(--accent-color);
        }
      }
    }
  }
}
